@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    -webkit-text-size-adjust: none;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
    color: hsl(229, 23%, 23%) hsl(0, 0%, 59%) hsl(227, 10%, 46%);
    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-position: left -120% top 150%,
                         right -120% bottom 180%;
    background-repeat: no-repeat, no-repeat;
}

body {
    font-size: 1.8rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-top { /* how is the height being calculated?*/
    width: 100%;
    line-height: 0;
}

.card-top img {
    width: 100%;
    height: auto; 
    /* display: block; */
    border-radius: 10px 10px 0 0;

    object-fit: contain;
}

.float-image {
    position: relative;
    height: 0;
    width: 0;
}

#photo {
    position: absolute;
    top: -50px;
    left: -48px;
    background-color: whitesmoke; 
    border: whitesmoke solid 3px;
    border-radius: 50%;
}

.card-bottom {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
}

.userinfo {
    margin: 4em auto 1em auto;
    text-align: center;
    color: hsl(227, 10%, 46%) ;
}

.age {
    margin-left: .3em;
}

.location {
    font-size: 1.3rem;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 1.5em auto;
    padding-top: 1em;
    border-top: hsl(0, 0%, 59%) solid 1px;
}

.stats-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name, .number {
    line-height: 2em;
    font-weight: bold;
    color: hsl(229, 23%, 23%);
}

.category {
    line-height: 1.5em;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: hsl(227, 10%, 46%);
}